/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

div#page {
	margin: 0 auto;
	max-width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 
		"header header header header header header header header header header header header"
		"main1 main1 main2 main2 main2 main2 main2 main2 main2 main2 main3 main3"
		"content content content content content content content content content sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer"
;
}

div#page * {
	border: 1px solid;
	height: 200px;
	padding: .5rem;
}

footer {
	display: grid;
	gap: 1rem;
	grid-area: footer;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}



#box1 {
	grid-area: main1;
}

#box2 {
	grid-area: main2;
}

#box3 {
	grid-area: main3;
}

#header-id{
	grid-area: header;
}

#content{
	grid-area: content;
}

#sidebar{
	grid-area: sidebar;
}
