/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/


div#page {
	max-width: 90%;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
	grid-template-areas: 
		"header header header header header header header header header header header header"
		"main main main main main main main main main main main main"
		"content content content content content content content content content sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
}

div#page * {
	border: 1px solid;
	padding: .5rem;
	height: 200px;
}

footer {
	display: grid;
	gap: 1rem;
	grid-area: footer;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

#box1 {
	grid-area: main;
	grid-column: 1 / span 2; /* Förkortning för grid-column-start: 1; grid-column-end: span 2; */
}

#box2 {
	grid-area: main;
	grid-column: 3 / span 8; /* Förkortning för grid-column-start: 3; grid-column-end: span 8; */
}

#box3 {
	grid-area: main;
	grid-column: 11 / span 2; /* Förkortning för grid-column-start: 11; grid-column-end: span 2; */
}

#header-id{
	grid-area: header;
}

#content{
	grid-area: content;
}

#sidebar{
	grid-area: sidebar;
}
